h1{
  text-align: center;
  background-color:rgb(252, 224, 182);
  color:coral;
  padding: 20px;
  margin: 20px;
}
body{
  background-color:cornsilk;
  text-align: center;
}
h2{
  background-color:rgb(252, 224, 182);
  color: coral;
  padding: 20px;
  margin: 20px;
 
}
h3{
   background-color:rgb(252, 224, 182);
  color: coral;
  padding: 20px;
  margin: 20px;

}