
body{
  background-color:cornsilk;
  text-align: center;
  color: coral;
}
h2{
  background-color:rgb(252, 224, 182);
  color: coral;
}

a{
  color: coral;
}
header{
  padding: 10px;
  margin: 10px;
  text-align: 50%;
  background-color: rgb(252, 224, 182);
}
main{
  background-color: rgb(252, 224, 182) ;
  padding: 10px;
  margin: 10px;
  
}
img{
height: fit-content;
width:60%;

}
section{
  background-color: cornsilk;
}